<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatRoom</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- bootstrap js  -->
    <script defer src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- favicon link -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <!-- icon link  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!-- Logo font link  -->
     <link rel="preconnect" href="https://fonts.gstatic.com">
     <link href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap" rel="stylesheet">
 
    <style>
      body{
      /* padding: 20px; */
      margin: 0px;
           
            /* background-color: #2f5d62; */
            background-color: #4aa96c;
      }


      /* .image:hover{
      width: 70%;
      height: 253px;
      display: block;
      margin: auto;
      } */
      
      h1{
        text-align: center;
        color: #dfeeea;
        font-family: 'Times New Roman', Times, serif;
        font-size: 50px;
        margin: 10px;
      }
      
      #messageroom{
      border: 2px solid #40394a;
      width: 80%;
      height: 300px;
      padding: 10px;
      line-height: 2;
      overflow-y: auto;
      overflow-x: auto;
      box-shadow: 5px 5px #40394a;
      margin: 10px auto;
      background-color: white;
      color: #2f5d62;
      margin-bottom: 30px;
      }
      
      span{
      font-size: 20px;
      }
      
      .outer{
      padding: 30px;
      margin: auto;
      /* border: 2px solid red; */
      }
      
      .block{
      display: block;
      /* text-align: center; */
      /* border: 2px solid blue; */
      font-size: 25px;
      margin: 5px auto;
      color: #126e82;
      }
      
      .input{
      width: 80%;
      margin: 15px 0px 0px 0px;
      display: block;
      /* text-align: center; */
      border: 2px solid #40394a;
      height: 35px;
      border-radius: 5px;
      /* padding: 5px; */
      }
      
      .upload{
      margin-bottom: 10px;
      }
      .anchor{
      margin: 0;
      text-decoration: none;
      color: #a7bbc7;
      }
      
      @media only screen and (max-width: 700px) {
        .input{
           width: 100%;
        }
      }

      </style>
</head>
<body>
  <!-- style="background-color: #a7c4bc;" -->
  <nav class="navbar navbar-expand-lg " style="background-color: #e1e5ea;" >
    <a class="navbar-brand" href="/" style="color: #e93b81; font-family: 'Pattaya', sans-serif;">ARC</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" style="color: #2f5d62;">=</span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="/" style="color: #2f5d62">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/about" style="color: #2f5d62">About<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login" style="color: #2f5d62">Teacher login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/announcement" style="color: #2f5d62">Announcement</a>
        </li>
        <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" style="color: #2f5d62" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Classes
            </a>
            <div class="dropdown-menu bg-light" style="border: none;" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="fe">FE</a>
              <a class="dropdown-item" href="secomps">SE-Comps</a>
              <div class="dropdown-divider" ></div>
            </div>
          </li> -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" style="color: #2f5d62" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ChatRoom
            </a>
            <div class="dropdown-menu bg-light" style="border: none;" aria-labelledby="navbarDropdown">
              <% chatroom.forEach(room => { %>
              <a class="dropdown-item" href="/doubtroom/<%= room %>"><%= room %></a>
              <% }); %>
              <!-- <div class="dropdown-divider"></div> -->
            </div>
          </li>
      </ul>
      <form action="/search" method="POST" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" name="search" type="search" placeholder="Search">
        <button class="btn my-2 my-sm-0 btn-outline-success"  type="submit">Search</button>
      </form>
    </div>
  </nav>



    <!-- const chatSchema = new mongoose.Schema({
      roomName : String,
      name: String,
      message: String,
      image: String
  }); -->
  
  
  
    
      <h1>
          <%= room %>
      </h1>
  
      
  
          <div id="messageroom">
              <% chat.forEach(chat => { %>
              <div>
                <div>
                  <% if(chat.image !== "no image") { %>
                  </div>
                  <span>
                    <%= chat.name %>
                  </span>
                  <span> : </span>
                  <div style="display: inline;">
                    <img src="files/<%= chat.image %>" alt="" class="img-fluid bg" style="display: block;">
                    <!-- <img src="files/<%= chat.image %>" alt="" class="image"> -->
                    <a href="files/<%= chat.image %>" class="anchor" style="display: block;">View in full screen</a>
                    <p>
                        <%= chat.message %>
                    </p>
                  </div>
              </div>
                  <% } %>
                  <% if(chat.image === "no image") { %>
                </div>
                  <span>
                      <%= chat.name %>
                  </span>
                  <span> : </span>
                  <p>
                      <%= chat.message %>
                  </p>
              </div>
                 <% } %>
              <% }); %>
          </div>
  
         
           <form action="/newchat" method="post" enctype="multipart/form-data" >
              <div class="outer">
                  <label class="block" style="color: #dfeeea;"> Name </label>
                  <input type="text" name="name" class="input">
                  <label class="block"  style="color: #dfeeea;"> Message </label>
                  <input type="text" name="message" class="input" >
  
                 <label for="para" class="block upload"  style="color: #dfeeea;">Upload Image</label>
                  <input type="file" name="imgfile" id="para">
                  <p style="color: #a7c4bc;">Make sure the image to be uploaded i has a extension of either png or jpeg <span style="color: red;">*</span></p>
  
                  <label class="block"  style="color: #dfeeea; visibility: hidden;"> Room Name </label>
                  <input type="text" style="visibility: hidden;" name="room"  class="input"placeholder="Enter the same room name" value="<%= room %>">
                  <br>
                  <button type="submit" class="block">SEND <i class="material-icons">&#xe163;</i></button>
              </div>
      
          </form>


</body>
</html>